<!DOCTYPE html>

{% load staticfiles %}

<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Mi Boom Bíblico</title>

     <!-- Bootstrap core CSS -->
   <link rel="stylesheet" href='/app/static/css/bootstrap.min.css'>
</head>

<body style="...">

    <div class = "container">
        <div class="header">
            <ul class="nav nav-pills pull-right">
            </ul>
            <h3 class="text-muted">Mi Boom Bíblico</h3>
        </div>
    </div>

    <hr>

     <div class="container">
        <form>
             <input type="text" placeholder="Usuario" class="form-control"><br>
             <input type="password" placeholder="Contraseña" class="form-control"><br>
            <a href="/registro">Registrarse</a><br>
            <br>
             <button type="submit" class="btn btn-success">Iniciar Sesion</button><br>

        </form>
     </div>

</body>
</html>