<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html"
      xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Mi Boom Bíblico</title>

    <!-- Bootstrap core CSS -->
    <link href="/app/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="jumbotron-narrow.css" rel="stylesheet">
    <script type="text/javascript" src="/app/static/js/jquery-2.1.1.js"></script>

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body style="background:#FFFFFF"> 

    <div class="container">
      <div class="header">
        <ul class="nav nav-pills pull-right">
          <li><a href="/">Inicio</a></li>
          <li class="active"><a href="/preguntas">Preguntas</a></li>
          <!-- <li><a href="/estadisticas">Estadísticas</a></li> --->
          <li><a href="/admin">Administrador</a></li>
        </ul>
        <h3 class="text-muted">Mi Boom Bíblico</h3>
      </div>

      <div>
        <HR>
        <P> </P>
      </div>
      {% block body %}
      <form method="GET" action=""> {% csrf_token %}
          <div class="form-group">
              <!--button type="submit" class="btn btn-success">Seleccionar un Hermano</button> --->
              <button type="submit" class="btn btn-danger" >Buscar otra pregunta</button>

            <h2>La pregunta es: </h2>
              {% for Preguntas in pregunta %}
              <h3><li>{{ Preguntas.pregunta }}</li></h3>
              {% endfor %}
          </div><br>
      </form>
      <form action=""> {% csrf_token %}
          <input type="text" class="form-control" id="respuesta" placeholder="Introduce a cita bíblica de tu respuesta" ><br>
          <button type="submit" class="btn btn-success">Resolver</button>
      </form>

    </div> <!-- /container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    {% endblock %}
  </body>
</html>
